<?xml version="1.0" encoding="utf-8"?>
<manifest package="it.techies.pranayama"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="theme"/>

        <activity
            android:name=".modules.aasanBreak.BreakActivity"
            android:label="@string/title_activity_break"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.aasans.Bhastrika"
            android:label="@string/title_activity_aasan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.aasans.KapalBhati"
            android:label="@string/title_activity_aasan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.aasans.Bahaya"
            android:label="@string/title_activity_aasan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.aasans.AgnisarKriya"
            android:label="@string/title_activity_aasan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.aasans.AnulomVilom"
            android:label="@string/title_activity_aasan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.aasans.Bharmari"
            android:label="@string/title_activity_aasan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.aasans.Udgeeth"
            android:label="@string/title_activity_aasan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.EndActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".services.PrayanamaService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.password.ChangePasswordActivity"
            android:label="@string/title_activity_change_password">
        </activity>

        <activity
            android:name=".activities.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.setup.SetupActivity"
            android:label="@string/title_activity_setup"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.launcher.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>

        <activity android:name=".modules.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>